<% include layout/header %>

  <div class="main">
    <% include layout/nav %>
      <div class="container-fluid">
        <div class="page-title">
          <h1>修改密码</h1>
        </div>
        <!-- 有错误信息时展示 -->
        <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
        <form class="form-horizontal" id="form-horizontal">
          <div class="form-group">
            <label for="old" class="col-sm-3 control-label">旧密码</label>
            <div class="col-sm-7">
              <input id="old" class="form-control" type="password" placeholder="旧密码">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">新密码</label>
            <div class="col-sm-7">
              <input id="password" class="form-control" type="password" placeholder="新密码">
            </div>
          </div>
          <div class="form-group">
            <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
            <div class="col-sm-7">
              <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
              <button id="updatepwd" type="submit" class="btn btn-primary">修改密码</button>
            </div>
          </div>
        </form>
      </div>
  </div>

  <% include layout/aside %>
    <% include layout/footer %>
      <script>
        $('#updatepwd').click((event) => {
          // 阻止默认行为
          event.preventDefault()
          // 得到参数
          let old = $('#old').val()
          let password = $('#password').val()
          let confirm = $('#confirm').val()
          // 验证新密码与确认密码是否一致
          if (password.trim() !== confirm.trim()) {
             alert('密码为空或者两次输入的新密码不一致')
             $('#form-horizontal')[0].reset()
             return
          }
          // 发送请求到服务器
          $.ajax({
            url: '/updatepwd',
            method: 'POST',
            data: `old=${old}&password=${password}`,
            success: res => {
              let { status, msg } = res
              if (status === 200) {
                alert(msg)
                window.location = '/login'
              } else {
                alert(msg)
                $('#form-horizontal')[0].reset()
              }
            }
          })
        })
      </script>