<script src="../assets/vendors/jquery/jquery.js"></script>
<script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
<script src="../assets/vendors/template/template.js"></script>
<script>NProgress.done()</script>
</body>
</html>
<script>
    // 给退出按钮绑定一个点击事件：
    $('#logout').click(function(event){
        // 阻止默认行为
        event.preventDefault()
        console.log('我是 foot 中的 js')
        // 发送退出请求：去服务器清除 session
        $.ajax({
            url: '/logout',
            method: 'GET',
            success: function(res) {
                if (res.status === 200) {
                    alert(res.msg)
                    // 退出成功后要跳转到 login
                    window.location = '/login'
                }
            }
        })
    })
</script>